<a href="https://colab.research.google.com/github/Ancy-padmanabhan/Assignments/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
radius=int(input("enter the radius of the circle"))
area=radius*radius*3.14
print(f"area of the circle {area}")

enter the radius of the circle6
area of the circle 113.04

In [12]:
Name=str(input("Enter your name "))
Roll=int(input("Enter your Rollnumber "))
Mark=float(input("Enter your Mark "))
print(f"your Name :{Name} \nyour Rollnumber:{Roll} \n Your Mark:{Mark}")

Enter your name Ancy
Enter your Rollnumber 789
Enter your Mark 99
your Name :Ancy
your Rollnumber:789
 Your Mark:99.0

In [20]:
L=[12,3,47,10]
L.sort()
print("The largest number is \t",L[-1])

The largest number is 	 47

In [28]:
n=1
for i in range (0,10):
  print ("Current number",{i+1}, "Previous number",{i},"Sum =",{i+(i+1)})

Current number {1} Previous number {0} Sum = {1}
Current number {2} Previous number {1} Sum = {3}
Current number {3} Previous number {2} Sum = {5}
Current number {4} Previous number {3} Sum = {7}
Current number {5} Previous number {4} Sum = {9}
Current number {6} Previous number {5} Sum = {11}
Current number {7} Previous number {6} Sum = {13}
Current number {8} Previous number {7} Sum = {15}
Current number {9} Previous number {8} Sum = {17}
Current number {10} Previous number {9} Sum = {19}

In [41]:
list_1=[]
list_2=[]
n=int(input("Enter the number of elements in the list"))
for i in range(0,n):
  e=int(input())
  list_1.append(e)
print("The entered set of numbers",2list_1)
for i in range(0,n):
  if list_1[i]%5==0:
   list_2.append(list_1[i])
print("the numbers divisible by 5 are",list_2)

Enter the number of elements in the list5
10
5
86
95
15
The entered set of numbers [10, 5, 86, 95, 15]
the numbers divisible by 5 are [10, 5, 95, 15]

In [55]:
n=int(input("Enter the number"))
flag=False
for i in range(2,n):
  if(n%i==0):
    flag=True
    break
if flag==True:
    print("Not a Prime number")
else:
    print("Prime Number")

Enter the number4
Not a Prime number

In [57]:
list_1=[12,14,15,13,16]
print("original list",list_1)
list_1.reverse()
print("reversed list",list_1)

original list [12, 14, 15, 13, 16]
reversed list [16, 13, 15, 14, 12]

In [83]:
print("*\n**\n***\n****")

*
**
***
****

In [81]:
def max(x,y,z):
    if (x>y) and (x>z):
     print(f"{x} is greater")
    elif (y>z) and (y>x):
      print(f"{y} is greater")
    else:
      print(f"{z} is greater")
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
z=int(input("Enter the third number"))
max(x,y,z)

Enter the first number4
Enter the second number9
Enter the third number4
9 is greater

In [65]:
n=4
for i in range(0,n):
  for j in range(0,i+1):
    print("* ",end="")
  print("\r")

*
* *
* * *
* * * *